{% extends 'base.html.twig' %}

{% block title %}Création Genre{% endblock %}

{% block body %}

   <h1>{{ controller_name }}</h1>
   <form action="/insertGenre" method="post">
      <fieldset>
         <legend>Bienvenue</legend>
         <div class="form-group row">
            <label for="staticGenre" class="col-sm-2 col-form-label">Genre</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="staticGenre" name="genre">
            </div>
         </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
{% endblock %}